body {
  font-family: "Roboto", sans-serif;
  background-color: #ededed; /* Light gray background */
  display: flex;
  height: 100vh;
  margin: 0;
}

.wrapper {
  display: flex;
  width: 100%;
}

.contacts {
  width: calc(25% - 1px);
  background-color: #69f7be;
  padding: 0px;
  box-sizing: border-box;
  overflow-y: auto;
  border-right: 1px solid #5fac46;
}

.contact-item {
  display: flex;
  align-items: center;
  background-color: #69f7be;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #6fd0b9;
}

.contact-item:hover {
  background-color: #6fd0b9;
}

.message {
  max-width: 70%;
  margin: 10px;
  padding: 10px;
  margin-top: 100px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.mom {
  background-color: #dcf8c6; /* Light green for Mom's messages */
  align-self: flex-start;
}

.mario {
  background-color: #dcf8c6; /* Light green for Mom's messages */
  align-self: flex-start;
}

.user {
  background-color: #e5e5e5; /* Light gray for user's messages */
  align-self: flex-end;
}

.input-area {
  display: flex;
  justify-content: flex-end; /* Add this line to space the input and button */
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 73.5%;
  background-color: transparent; /* Set background color to white */
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 73.5%;
  background-color: #00a17e; /* Set background color to your preference */
}

.contact-details {
  display: flex;
  color: #ffffff; /* Text color for contact details */
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.contact-details p {
  margin-left: 60px; /* Adjust the margin as needed for spacing between details */
}

.options-button {
  background: none;
  border: none;
  color: #ffffff; /* Text color for the button */
  font-size: 20px;
  cursor: pointer;
}

.options-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: #ffffff; /* Background color for the options menu */
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.options-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options-menu li:hover {
  background-color: #f5f5f5; /* Background color on hover */
}

.input-area input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.input-area button {
  background-color: #5fac46;
  color: #ffffff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat {
  flex: 1;
  background-color: #ededed; /* Light gray background for the chat area */
  padding: 20px;
  font-family: "Roboto", sans-serif;
}










.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 18.6%;
  background-color: #00a17e; /* Set background color to your preference */
}

.chat-details {
  display: flex;
  color: #ffffff; /* Text color for contact details */
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.chat-details p {
  margin-right: 40px; /* Adjust the margin as needed for spacing between details */
}








.chat-options-button {
  background: none;
  border: none;
  color: #ffffff; /* Text color for the button */
  font-size: 20px;
  cursor: pointer;
}

.chat-options-menu {
  position: absolute;
  top: 100%;
  right: 3%;
  display: none;
  background-color: #ffffff; /* Background color for the options menu */
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-options-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-options-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-options-menu li:hover {
  background-color: #f5f5f5; /* Background color on hover */
}

.picture-container {
  position: fixed;
  top: 5.75%;
  left: 2.75%;
  transform: translate(-50%, -50%); /* Center the image */
}

.picture {
  max-width: 50px;
  max-height: 50px;
}

.picture-containerMario {
  position: fixed;
  top: 5.75%;
  left: 27.7%;
  transform: translate(-50%, -50%); /* Center the image */
}

.pictureMario {
  max-width: 84px;
  max-height: 84px;
}

/* Fügen Sie einen neuen CSS-Stil für die "active" Klasse hinzu */
.contact-item.active {
  background-color: #6fd0b9; /* Ändern Sie die Hintergrundfarbe für den aktiven Kontakt */
}

/* New CSS for profile pictures */
.profile-pic {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Make it a circular image */
  margin-right: 10px; /* Adjust the spacing between the image and contact name */
}

/* Adjust the .contact-item styles for the profile picture */

